@model IEnumerable<MiBotica.SolPedido.Entidades.Core.Servicio>

@{
    ViewBag.Title = "VerServicioU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MIS SERVICIOS</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="box">
    <div class="box-body table-responsive no-padding">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdServicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodEst)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RazonI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NEmpleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCierre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCita)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resultado)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdServicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodEst)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RazonI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCierre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resultado)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
