@model MiBotica.SolPedido.Entidades.Core.Usuario

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- LOG IN ANTIGUO-->
@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        @Styles.Render("~/Content/css")
    </head>
    <body class="bg-gradient-primary">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-6">
                                    <img src="@Url.Content("~/Imagenes/UNAYOE.jpg")" style="width: 500px;height: 500px;" />
                                </div>




                                <div class="col-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                                        </div>
                                        <form action="@Url.Action("Index", "Login")" method="post">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" placeholder="Usuario" name="Correo" id="Correo" value="@Model.Correo">
                                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <input type="password" class="form-control" placeholder="Password" name="Clave" id="Clave" value="@Model.Clave">
                                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                            </div>
                                            @if (!ViewData.ModelState.IsValid)
                                            {
                                                <div class="form-group alert alert-info">

                                                    @Html.ValidationSummary(false, "Hubo errores")
                                                </div>
                                            }

                                            <div class="row">
                                                <div class="col-xs-8">
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-xs-4">
                                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Validar</button>
                                                </div>






                                                <!-- /.col -->
                                            </div>
                                        </form>
                                        <hr>
                                        <div class="text-center justify-content-center">
                                            <p class="text-primary mb-0">Todos los derechos reservados &copy;<a href="https://ouo.io/RK1tRH" target="_blank" class="text-danger ml-1"><b>Open Source - CLICK AQUI !!</b></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/bootstrap")
    </body>
    </html>*@


<!--Lockscreen to Login-->
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap.css")
    <style>
    </style>
</head>
<body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo mb-4">
            <b>Iniciar Sesión</b>
        </div>

        <!-- Error message -->
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="error-message btn-danger">
                @Html.ValidationSummary(false, "Hubo errores")
            </div>
        }


        <!--<div class="lockscreen-name">John Doe</div>-->
        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">
            <!-- lockscreen image -->
            <div class="loginscreen-image">
                <img src="~/Imagenes/UNAYOE.jpg" alt="UNAYOE">
            </div>

            <!-- /.lockscreen-image -->
            <!-- lockscreen credentials (contains the form) -->
            <form id="basic-form" class="lockscreen-credentials" action="@Url.Action("Index", "Login")" method="post">
                <div class="input-group">
                    @*<input type="text" class="form-control" placeholder="Usuario">
                        <input type="password" class="form-control" placeholder="Contraseña">*@
                    <input type="text" class="form-control" placeholder="Correo" name="Correo" id="Correo" value="@Model.Correo">
                    <input type="password" class="form-control" placeholder="Contraseña" name="Clave" id="Clave" value="@Model.Clave">

                    <!-- botón de validación-->
                    <div class="input-group-btn">
                        @*<button type="button" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>*@
                        <button type="submit" id="validateBtn" class="btn" data-target="#modalLoginFalse">
                            <i class="fa fa-arrow-right"><b> Validar</b></i>
                        </button>

                        <!-- Modal -->
                        @*<div class="" id="modalLoginFalse" tabindex="-1" role="dialog" aria-labelledby="modalLoginFalseLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                                @Html.ValidationSummary(false, "Hubo errores")
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>

                </div>
            </form>
            <!-- /.lockscreen credentials -->
        </div>
        <!-- /.lockscreen-item -->

        <div class="text-center">
            <b>Ingrese sus credenciales</b>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; 2014-2016 <b><a href="https://adminlte.io" class="text-black">Almsaeed Studio</a></b><br>
            All rights reserved
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    @*<script type="text/javascript">
            //document: para cuando ya esté cargado el html
            $(document).ready(function () {
                $("#validateBtn").click(function (event) {
                    var email = $('#Correo').val();
                    var password = $('#Clave').val();

                    if (!email || !password) {
                        $('#modalLoginFalse').modal('show');
                    }
                })
            });
        </script>*@
</body>