
@{
    Layout = null;
}


    <!DOCTYPE html>

    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AdminLTE 2 | General UI</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
        <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
        <link href="~/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

        <style>
            /* User image */
            .loginscreen-image {
                border-radius: 50%;
                position: absolute;
                left: -80px;
                top: -40px;
                background: #fff;
                padding: 5px;
                z-index: 10;
            }

                .loginscreen-image > img {
                    border-radius: 50%;
                    width: 140px;
                    height: 140px;
                }

            .mb-4 {
                margin-bottom: 50px;
            }
        </style>

        <!-- Carga de archivos CSS -->
        @Styles.Render("~/Content/css")

        <!-- Carga de la biblioteca jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <!-- Carga de archivos JavaScript -->
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <!-- Carga de archivos CSS -->
        @Styles.Render("~/Content/css")

        <!-- Carga de la biblioteca jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <!-- Carga de archivos JavaScript -->
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

    </head>
    <body>
        @RenderBody()

    </body>
    </html>
